body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.container {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 40px auto;
    width: 60%;
    text-align: left;
    position: relative;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

em {
    font-style: italic;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 4%;
}

p {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 4%;
    text-align: center;
}

#examples {
    margin: 12vh 0;
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
}

.example1Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10%;
    gap: 20px;
}

.example1Section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example1Image {
    object-position: center;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    overflow: hidden;
}

.example1Container h2 {
    text-transform: none;
    font-size: 22px;
}

.example1Container p {
    font-size: 16px;
    margin: 0;
}

.underline-slide {
    position: relative;
}
  
.underline-slide::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #000;
transform-origin: bottom right;
transition: transform 0.3s ease-out;
}

.underline-slide:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}

.example2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
    margin-top: 10vh;
}

.example2Image {
    width: 50%;
    object-fit: cover;
}

.example2Text {
    width: 50%;
    margin-left: 20px;
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 12vh 5vw;
}
