body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100svh;
  width: 100svw;
  color: black;
  background-color: #eef;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
}

#goose-container {
  height: 50svh; /* Adjust width as needed */
  width: auto;
  position: absolute;
  top: -50svh; /* Start well above the screen */
  animation: slideHalfwayDown 1.5s ease-out forwards;
}

@media (max-width: 768px) {
  #goose-container {
    height: 70svh;
  }
}


#goose {
  height: 100%; /* Make the goose image fill the container */
}

#background-goose {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Fill the width of the container */
  height: 100%; /* Fill the height of the container */
  background-size: auto; /* Prevent resizing */
  background-repeat: repeat; /* Repeat the image */
  background-position: top left;
  opacity: 0.2; /* 20% transparency */
  pointer-events: none;
  z-index: 0;
  background-image: url('https://t3.ftcdn.net/jpg/05/32/35/40/360_F_532354063_R3lZ6D4qZ7LiUvqka6wdaCN1y4fsi7WE.jpg');

}

#speech-box {
  display: flex;
  flex-direction: column; /* Allow stacking of name and text */
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 40svh;
  transform: translateX(-50%) scale(1);
  width: 28svw;
  min-width: 200px; /* Minimum width of 300px */
  padding: 10px;
  color: black;
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px; /* Rounded corners */
  border: 20px solid #FFC05B; /* Orange rounded border */
  z-index: 10;
  height: auto; /* Adjust height dynamically */
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

#speech-box::before {
  content: "Quimbus"; /* Add the "Quimbus" label */
  font-size: 0.9rem; /* Smaller font for the label */
  color: gray; /* Gray text for the label */
  margin-bottom: 5px; /* Space between label and main text */
  text-align: center;
}

@media (max-width: 768px) {
  #speech-box {
    font-size: 1rem;
    border: 10px solid #ffc05b;
    width: 60svw;
  }

  #speech-box::before {
    font-size: 0.6rem;
  }
}



#speech-box.show {
  transform: translateX(-50%) scale(1); /* Restore to original size */
  opacity: 1;
}

#bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  z-index: 5;
  
}

#action-container {
  top: 60svh;
  z-index: 1;
  width: 50svw;
  min-width: 300px;
  height: 20svh;
  min-height: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #action-container {
    top: auto;
    width: 100%;
    height: calc(50svh);
    bottom: 0;
  }
}

#action-container textarea {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  resize: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: none;
}

#action-container text {
  font-size: 1.5rem;
}

#action-container textarea:focus {
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#action-button {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}


@keyframes slideHalfwayDown {
  from {
    top: -50svh; /* Start off-screen */
  }
  to {
    top: -15svh; /* Stop halfway down */
  }
}

@media (max-width: 768px) {
  @keyframes slideHalfwayDown {
    from {
      top: -50svh; /* Start off-screen */
    }
    to {
      top: -28svh; /* Stop halfway down */
    }
  }
}

@keyframes moveToCenter {
  from {
    top: -15svh;
    transform: scale(1);
  }
  to {
    top: 70svh;
    transform: scale(1.5);
  }
}

#choice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 60%;
  background-color: #FFC05B;
  border-radius: 20px;
  padding: 15px 0;
  gap: 15px;

}

.choice-button {
  padding: 20px 20px;
  border-radius: 20px;
  background-color: white;
  border: 0;
  width: 90%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  font-size: 1.5rem;
  flex-grow: 1;
  color: black
}

.choice-button:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.choice-button:active {
  transform: scale(0.95); /* Slightly shrink on click */
}


@media (max-width: 768px) {
  #choice-container {
    width: 80%;
  }

  .choice-button {
    padding: 15px;
    font-size: 1.2rem;
  }
  
}

#goose-container {
  transition: top 1s ease, transform 1s ease;
}

#speech-box {
  transition: top 1s ease, transform 1s ease;
}

#left-foot,
#right-foot {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

@keyframes fall {
  to {
      transform: translateY(100svh);
  }
}

@keyframes sway {
  50% {
      transform: translateX(20px);
  }
  100% {
      transform: translateX(-20px);
  }
}

.confetti {
  position: absolute;
  animation-fill-mode: forwards;
  will-change: transform;
  border-radius: 50%;
}


/* Input Question Container */
.input-question {
  text-align: center;
  transition: opacity 0.3s ease;
  background-color: #ffc05b;
  padding: 20px;
  border-radius: 20px;
}

/* Input Container for Styling Inputs Side by Side */
.input-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

/* Styled Inputs */
.styled-input {
  padding: 15px 20px;
  border-radius: 20px;
  background-color: white;
  border: 2px solid #ddd;
  width: 45%; /* Adjust to fit side-by-side with gap */
  font-size: 1.2rem;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

/* Styled Input Focus Effect */
.styled-input:focus {
  outline: none;
  border-color: #FFC05B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  transform: scale(1.05); /* Slightly enlarge on focus */
}

@media (max-width: 768px) {
  .styled-input {
    padding: 10px;
    font-size: 1rem;
  }
}

/* Slider Wrapper */
.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: opacity 0.3s ease;
  width: 90%;
  margin: 0 auto;
}

/* Styled Slider */
.styled-slider {
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: #ccc;
  border-radius: 5px;
  outline: none;
}

.styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #FFC05B;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.styled-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FFC05B;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.styled-slider::-moz-range-thumb:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Slider Labels */
.slider-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-label {
  font-size: 1.2rem;
}

@media (min-width: 769px) {
  .styled-slider {
    height: 20px;
    border-radius: 20px;

  }

  .styled-slider::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }

  .slider-label {
    font-size: 1.5rem;
  }
}




